<div class="row row-cards-pf">

  <div class="col-md-12">
    <pfng-card [config]="basicConfig">
      <div class="col-md-12">
        <div class="form-group toolbar-pf-view-selector">
          <button class="btn btn-primary" type="button" (click)="create()">Create</button>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">List of Images</div>
        <div *ngFor="let filemodel of fileUploads">
          <div class="panel-body">
            {{filemodel.name}}
            <button (click)='delete(filemodel)' class="btn btn-danger btn-xs" style="float: right">Delete</button>
            <img src="{{filemodel.url}}" alt="{{filemodel.name}}" style="max-width:350px" />
          </div>
        </div>
      </div>
    </pfng-card>
  </div>
</div>