<div class="login-pf">
  <wari-notify-message></wari-notify-message>
  <span id="badge">
    <img src="/assets/img/icon96.png" alt="logo" />
  </span>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="brand">
         <b>Proyecto Wari</b> 
        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 login">
        <form [formGroup]="form" (ngSubmit)="login(form)" class="form-horizontal">
          <wari-form-fields-status [wariForm]="form"></wari-form-fields-status>

          <div class="form-group" [wariFormFieldValidationState]="form.get('email')">
            <label class="col-sm-3 col-md-3 control-label" [wariFormRequiredLabel]="form.get('email')">Correo
              <i class="fa fa-question-circle text-muted" tooltip="Usuario del sistema" placement="top"></i>
            </label>
            <div class="col-sm-9 col-md-9">
              <input formControlName="email" type="text" class="form-control" autofocus/>
              <wari-form-field-validation-messages [wariFormControl]="form.get('email')">
              </wari-form-field-validation-messages>
            </div>
          </div>
          <div class="form-group" [wariFormFieldValidationState]="form.get('password')">
            <label class="col-sm-3 col-md-3 control-label" [wariFormRequiredLabel]="form.get('password')">Contraseña
              <i class="fa fa-question-circle text-muted" tooltip="Contraseña del sistema" placement="top"></i>
            </label>
            <div class="col-sm-9 col-md-9">
              <input formControlName="password" type="password" class="form-control" />
              <wari-form-field-validation-messages [wariFormControl]="form.get('password')">
              </wari-form-field-validation-messages>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-8 col-sm-offset-8 col-sm-6 col-md-offset-2 col-md-6">
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2"></div>
            <div class="col-xs-1 col-sm- col-md-1">
              <wari-button-login [wariForm]="form" [working]="working"></wari-button-login>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-5 col-md-6 col-lg-7 details">
        <p>
          <strong>Bienvenido a WARI | open source project!</strong>
        </p>
      </div>
    </div>
  </div>
</div>