<div class="row row-cards-pf">
  <div class="col-md-12">
    <pfng-card [config]="basicConfig" (onActionSelect)="handleActionSelect($event)">
      <div class="panel-body">
        <div *ngFor="let file of files">
          <div class="col-lg-4">
            <div class="row-cards-pf">
              <div class="card-pf pfng-card-info-status card-pf-accented">
                <div class="pfng-card-info-image">
                  <img class="thumbnail" src="{{file.url}}" alt="{{file.key}}" />
                </div>
                <div class="pfng-card-info-content">
                  <h2 class="pfng-card-title">
                    <a>
                      <span>{{file.key}}</span>
                    </a>
                  </h2>
                  <div class="pfng-card-info-item">VM Name: aapdemo002</div>
                  <div class="pfng-card-info-item">Host Name: localhost.localdomian</div>
                  <div class="pfng-card-info-item">IP Address: 10.9.62.100</div>
                  <div class="pfng-card-info-item">Power status: on</div>
                  <div class="pfng-card-info-item">
                    <button (click)='delete(file)' class="btn btn-danger btn-xs" style="float: right">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </pfng-card>
  </div>
</div>