<div class="row row-cards-pf">
  <div class="col-md-12">
    <pfng-card [config]="config" [headerTemplate]="header">
      <ng-template #header>
        <div class="card-pf-heading-details">
          <button class="btn btn-primary primary-action" type="button" (click)="create()">
            <span class="pficon pficon-add-circle-o"></span>
            Agregar Nuevo Sitio
          </button>
        </div>
        <h2 class="card-pf-title">
          Sitios Arqueológicos
        </h2>
      </ng-template>
      <div class="panel-body">
        <div *ngFor="let site of sites">
          <div class="col-lg-4">
            <div class="row-cards-pf" style="height: 220px;">
              <div class="card-pf pfng-card-info-status card-pf-accented">
                <div class="pfng-card-info-image">
                  <img class="thumbnail" src="{{site.imagen}}" alt="{{site.nombre}}" />
                </div>
                <div class="pfng-card-info-content">
                  <h2 class="pfng-card-title">
                    <a>
                      <span>{{site.nombre|truncate:15}}</span>
                    </a>
                  </h2>
                  <div class="pfng-card-info-item"><b>Ubicacion:</b> {{site.ubicacion}}</div>
                  <div class="pfng-card-info-item"><b>Periodo:</b> {{site.periodo}}</div>
                  <div class="pfng-card-info-item"><b>Altitud:</b> {{site.altitud}}</div>
                  <div class="pfng-card-info-item"><b>Estado:</b> {{site.estado}}</div>
                  <div class="pfng-card-info-item"><b>Antecedente:</b> {{site.antecedente}}</div>
                  <div class="pfng-card-info-item">
                    <button (click)='view(site)' class="btn btn-primary primary-action btn-xs" >Visualizar Registro</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </pfng-card>
  </div>
</div>