.container{
    width: 80%;
    margin: 0 auto;
}
 .fixed-footer{
    width: 100%;
    position: fixed;        
    background: #292e34;
    padding: 10px 0;
    color: #fff;
}

.fixed-footer{
    bottom: 0;
}    
